{
  "env": {
    "browser": true,
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    },
  },
  "rules": {
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "ignore",
    }],
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
  },
}
